<section>
  <div class="footer-wrappper section-bg">
  
  <div class="footer-area footer-padding">
   <div class="testimonials-clean">
      <div class="container">
          <div class="row people">
              <div class="col-md-6 col-lg-3 item">
                  <div class="testimonial-title">
                      <i class="fa fa-quote-right" aria-hidden="true"></i>
                  <q>It surpassed our expectations</q>
                  </div>
                  <div class="note">
                      <p class="description"> <q> Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est. </q> </p>
                  </div>
                  <div class="author">
                      <img class="rounded-circle" src="assets/img/blog/2.jpg">
                      <div class="title-name">
                      <h5 class="name">Tania Y. </h5>
                      <p class="title">Flexi Content @Hello</p>
                  </div>
              </div>
              </div>
              <div class="col-md-6 col-lg-3 ml-auto item">
                  <div class="testimonial-title">
                      <i class="fa fa-quote-right" aria-hidden="true"></i>
                      <q> The essential marketing tool</q>
                  </div>
                  <div class="note">
                      <p class="description"><q> Filed is the most valuable business resource we have EVER purchased. I was amazed at the quality of filed. We were treated like royalty. </q></p>
                  </div>
                  <div class="author">
                      <img class="rounded-circle" src="assets/img/blog/1.jpg">
                      <div class="title-name">
                      <h5 class="name">Jack Francis</h5>
                      <p class="title">Manager @ Accidents Direct</p>
                  </div>
              </div>
              </div>
              <div class="col-md-6 col-lg-3 ml-auto item">
                  <div class="testimonial-title">
                      <i class="fa fa-quote-right" aria-hidden="true"></i>
                  <q> Your company is truly upstanding </q>
                  </div>
                  <div class="note">
                      <p class="description"><q> The service was excellent. After using filed my business skyrocketed! It really saves me time and effort. </q></p>
                  </div>
                  <div class="author">
                      <img class="rounded-circle" src="assets/img/blog/3.jpg">
                      <div class="title-name">
                      <h5 class="name">Dawna N. </h5>
                      <p class="title">Editor @ Museum of Typography</p>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>

  </div>
  

  </div>
</section>
