<main>

  <section class="slider-area ">

    <div class="future-blobs">
      <div class="blob_4">
        <img src="assets/img/elements/Ellipse 9.svg" alt="Image">
      </div>
      <div class="blob_3">
        <img src="assets/img/elements/Ellipse 10.svg" alt="Image">
      </div>
      <div class="blob_2">
        <img src="assets/img/elements/Ellipse 11.svg" alt="Image">
      </div>
      <div class="blob_1">
        <img src="assets/img/elements/Ellipse 8.svg" alt="Image">
      </div>
      <div class="blob_0">
        <img src="assets/img/elements/Repeat Grid 2.svg" alt="Image">
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12">
          <div class="hero__logo">
            <a href="index.html"><img src="assets/img/logo/logo.svg" width="150" alt=""></a>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-6 mb-4">
              <div class="hero__caption">
                <h1 data-aos="fade-up" data-aos-delay="100">Book a demo today and <br> get two weeks for <span
                    style="color: #38CCF5;"> free.</span> Why?</h1>
                <p class="mb-4" data-aos="fade-up" data-aos-delay="200">Because Our AI-Powered Software <br> Will Exceed
                  Your Marketing Goals.</p>

                <div data-aos="fade-right" data-aos-delay="300" class="screen-img d-none d-lg-block">
                  <img src="assets/img/elements/Artboard 1.png" alt="" class=" w-100 gadgets">
                </div>
              </div>

            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="400">
              <div class="form-box form-content">
                <h3 class="h4 text-black mb-4">We’ll be in touch to get your trial set up.</h3>
                <p class="text-sub">Fill Out Form</p>

                <form #f="ngForm" class="payment-input" (submit)="create()" [formGroup]="dataForm">
                  <div class="form-group mb-4">
                    <input class="form-control" type="text" formControlName="firstName" name="FirstName"
                      placeholder="First name *">
                    <span class="text-danger"
                      *ngIf="(dataFormControl.firstName.touched || submitted) && dataFormControl.firstName.errors?.required">
                      First Name is required
                    </span>
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control" type="text" formControlName="lastName" name="LastName"
                      placeholder="Last name *">
                    <span class="text-danger"
                      *ngIf="(dataFormControl.lastName.touched || submitted) && dataFormControl.lastName.errors?.required">
                      Last Name is required
                    </span>
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control" type="email" formControlName="email" name="Email"
                      placeholder="Work Email *">
                    <span class="text-danger"
                      *ngIf="(dataFormControl.email.touched || submitted) && dataFormControl.email.errors?.required">
                      Email is required
                    </span>
                    <span class="text-danger"
                      *ngIf="dataFormControl.email.touched && dataFormControl.email.errors?.email">
                      Enter a valid email address
                    </span>
                  </div>
                  <div class="form-group mb-4">
                    <input class="form-control" type="number" formControlName="monthlyAdvertisingBudget"
                      name="monthlyAdvertisingBudget" placeholder="Monthly Advertising Budget *" required>
                    <span class="text-danger"
                      *ngIf="(dataFormControl.monthlyAdvertisingBudget.touched || submitted) && dataFormControl.monthlyAdvertisingBudget.errors?.required">
                      Budget is required
                    </span> </div>
                  <div class="form-group wrapper mb-4">
                    <ngx-intl-tel-input [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                      [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [searchCountryField]="[searchCountryField.Iso2, searchCountryField.Name]"
                      [selectFirstCountry]="false" [selectedCountryISO]="countryISO.Nigeria" [maxLength]="15"
                      [tooltipField]="tooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                      [numberFormat]="phoneNumberFormat.National" name="phone" formControlName="phone" required>
                    </ngx-intl-tel-input>
                    <span class="text-danger"
                      *ngIf="(dataFormControl.phone.touched || submitted) && dataFormControl.phone.errors?.required">
                      Phone Number is required
                    </span>
                    <span class="text-danger"
                      *ngIf="(dataFormControl.phone.touched || submitted)  && dataFormControl.phone.invalid">
                      Enter a valid Phone Number
                    </span>
                  </div>
                  <div class="form-button">
                    <button type="submit" class="w100 ibtn">GET FREE TRIAL</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="offer-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div data-aos="fade-up" data-aos-delay="400" class="offer-text">
            <h4>Our Offer: Intelligent Automation. Real-time Insights. Unparalleled Results.</h4>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section data-aos="fade-right" data-aos-delay="500" class="benefit-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="benefit-text">
            <h4>The <span style="color: #38CCF5;">Benefits</span> of using Filed</h4>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="benefit-list">
            <ul class="benefit-vertical-list">
              <li data-aos="fade-left" data-aos-delay="550">
                <div class="row">
                  <div class="col-md-1"><i class="fa fa-check" aria-hidden="true"></i></div>
                  <div class="col-md-11">Ability to scale using Dexter, our AI-powered marketing genius.</div>
                </div>
              </li>

              <li data-aos="fade-left" data-aos-delay="600">
                <div class="row">
                  <div class="col-md-1"> <i class="fa fa-check" aria-hidden="true"></i> </div>
                  <div class="col-md-11">Client Success Manager who will optimize your Facebook ad campaigns and focus
                    on driving the best possible results for you.</div>
                </div>
              </li>

              <li data-aos="fade-left" data-aos-delay="650">
                <div class="row">
                  <div class="col-md-1"><i class="fa fa-check" aria-hidden="true"></i></div>
                  <div class="col-md-11">This is a limited time offer only.</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>


</main>
