<footer>
    <section class="footer-bottom-section rpad pb-0">
        <div class="container">
          <div class="row m-0 copyright footer-bottom">
            <!-- <div class="row m-0"> -->
              <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="logo-copyright-section"> -->
                  <div class="col-md-5">
                    <div class="footer-copyright">Copyright © 2020. All Rights Reserved.</div>
                  </div>
                  <div class="col-md-7">
                    <div class="footer-right row">
                      <div class="col-md-9">
                  <div class="footer-links">
                    <ul class="nav-right-links">
                    <li class="nav-link"><a href="#">HOME</a></li>
                    <li class="nav-link"><a href="#">FEATURES</a></li>
                    <li class="nav-link"><a href="#">TERMS</a></li>
                    <li class="nav-link"><a href="#">PRIVACY</a></li>
                    <li class="nav-link"><a href="#">CONTACT US</a></li>
                    </ul>
                    </div>
                  </div>
                  <div class="col-md-3">
                  <div class="footer-social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                  </div>
                  </div>
                  </div>
                <!-- </div>
              </div> -->
            <!-- </div> -->
          </div>
        </div>
      </section>
    </footer>